
body {
	/*ackground-color: #d1d0ce;*/
	background-image: url("../images/logo-background.jpg");
}

.container{
	margin-top: 100px;
}
#header {
	text-align: center;
	margin-bottom: 50px;
	background-color: #3d3c3a;
	color: #fff;
	padding-top: 5px;
	padding-bottom: 15px;
}

#content {
	background-color: #3d3c3a;
	/*background-image: url("../images/comicBackground.jpg");*/
	color: white;
	padding-top: 20px;
	padding-bottom: 10px;
	text-align: center;
	border: solid 3px white;
}

#hangman-pic {
	height: 250px;
	width: 250px;
	margin-bottom: 10px;
}

.panel-body {
	background: #3d3c3a;
}

#info-side {
	/*border-right: dashed 5px red;*/
}

#footer {
	text-align: center;
	height: 50px;
	margin-top: 300px;
	color: white;
}

#heroImage {
	height: 350px;
	width: 250px;
}


