
body {
	/*ackground-color: #d1d0ce;*/
	background-image: url("../images/logo-background.jpg");
	font-family: 'Orbitron', sans-serif;
}

.container{
	margin-top: 100px;

}


#header {
	text-align: center;
	margin-bottom: 50px;
	/*background-color: #3d3c3a;*/
	color: #fff;
	margin-top: -10px;
	padding-bottom: 15px;
}

#content {
	/*background-color: #3d3c3a;*/
	background-color: #25383C;
	color: white;
	padding-top: 20px;
	padding-bottom: 10px;
	text-align: center;
	border: solid 3px white;
}

#hangman-pic {
	height: 250px;
	width: 250px;
	margin-bottom: 10px;
}

.panel-body {
	color: black;
}

p#description {
	font-size: 1.2em;
	line-height: 1.5;
	font-family: 'Ubuntu', sans-serif;
}

#info-side {
	/*border-right: dashed 5px red;*/
}

#footer {
	text-align: center;
	height: 50px;
	margin-top: 300px;
	color: white;
}

#heroImage {
	height: 350px;
	width: 250px;
}

#guessesLeft {
	/*color: red;*/
}

.panel-title {
	font-weight: bold;
}

#powers-tag {
	text-align: left;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.2em;
	font-style: bold;
}

#hintButton {
	margin-top: -10px;
}

#hint-answer {
	padding-top: 10px;
}
.space {
  padding-left: 18px;
}
